server = https://acme-v02.api.letsencrypt.org/directory
rsa-key-size = 4096
email = {{ common_contact_email }}
agree-tos = True

authenticator = dns-hetzner
dns-hetzner-credentials = /etc/letsencrypt/hetzner.ini
