server = https://acme-v02.api.letsencrypt.org/directory
rsa-key-size = 4096
email = {{ common_contact_email }}
agree-tos = True
dns-rfc2136 = True
dns-rfc2136-credentials = /etc/letsencrypt/rfc2136.ini
