listen              {{ srs_origin_rtmp_port }};
max_connections     1000;
srs_log_tank        console;
pid                 ./objs/srs.pid;
utc_time            on;
inotify_auto_reload on;

http_api {
    enabled         on;
    listen          {{ srs_origin_api_port }};
}

vhost __defaultVhost__ {
    security {
      enabled on;
      allow publish all;
      allow play 127.0.0.1;
      {% for item in groups['srs_edge'] %}
      allow play {{ hostvars[item]['ansible_default_ipv4']['address'] }};
      {% endfor %}
    }
    http_hooks {
      enabled {% if srs_http_callback_enable %}on{% else %}off{% endif%};
      on_publish {{ srs_http_callback_url }};
      on_unpublish {{ srs_http_callback_url }};
    }
    cluster {
        mode local;
        origin_cluster  on;
        coworkers{% for origin in groups['srs_origin'] %} {{ hostvars[origin]['ansible_default_ipv4']['address'] }}:{{ srs_origin_api_port }}{% endfor %};
    }
}
